/* 1- Change all header cells of your table to uppercase */
th {
    text-transform: uppercase;
}

/* 2- Change all links to green color  */
a {
    color: green;
}

/* 3-  change all cells back-ground color “top” to red gold color */
td.top {
    background-color: gold;
}

/*4- Change the background of any <em> to blue*/
em {
    background-color: blue;
}


/* 5- Change the element with id “the_most_important” to all caps and gold background. */
#the_most_important {
    text-transform: uppercase;
    background-color: gold;
}

/* ------------------------------ */
/* Exercise 3: */

/* 1- Change all h2 fonts family to sans-serif */
h2 {
    font-family: sans-serif;
}

/* 2- Capitalize all headings of any level in your code */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
}

/* 3- Change the first paragraph’s letter after any h2 to x-large; */
h2+p {
    font-size: x-large;
}

/* 4- When someone hover over any of your table rows change the background color
to a light color of your choice and if the cell has previous color change it also. */
tr:hover {
    background-color: lightgray !important;
}

/* 5- Change the list items display of the navbar to inline */
nav li {
    display: inline;
}

/* 6- Change the link of the first nav item to underlined and the others without */
nav li:first-child a {
    text-decoration: underline;
}

/* 7- Use nth-child to make all table’s body rows background colors alternating */
tbody tr:nth-child(odd) {
    background-color: green;
    color: #fff;
}
tbody tr:nth-child(even) {
    background-color: blue;
    color: #fff;
}

/* 8- When someone highlights a text in your text, change the highlighting color to a
color of your choice. */
::selection {
    background-color: orange;
}

/* 9- When someone hovers over your webpage body links (not nav) change the
cursor to a pointer */
body a:hover:not(nav a){
    cursor: pointer;
    color: red; /* just to see the effect */
}

/* 10- Change all input fields height to 20px; */
input {
    height: 20px;
}

/* 11- Change the border color of all inputs of type text to light gray */
input[type="text"] {
    border-color: lightgray;
}

/* 12- Change input of name message height to 50px; */
input[name="message"] {
    height: 50px;
}